<nav class="hero is-primary is-bold is-small has-background">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-1">
        <a href="/boardgames" class="mainNav" style="color:#fff;">GameDen</a>
      </h1>
      <h3 class="subtitle has-text-weight-bold">
        Your personal game hoard
      </h3>
    </div>
  </div>
</nav>
