<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <h1>Index Page</h1>

    <a href="/boardgames/new"><button>Add New Game</button></a>

    <div class="games">
      <% games.forEach( function (game) { %>
      <div class="card">
        <h5><a href="/boardgames/<%=game.id%>"><%= game.name %></a></h5>
        <img />
      </div>
      <% }); %>
    </div>
  </body>
</html>
