<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>New Boardgame</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css"
    />
  </head>
  <body>
    <h1>Add New Boardgame</h1>

    <a href="/boardgames"><button>Back</button></a>

    <form action="/boardgames" method="POST">
      <label for="name">Name: </label>
      <input type="text" name="name" />

      <label for="own">Own: </label>
      <input type="checkbox" name="own" />

      <label for="wishList">Wish List: </label>
      <input type="checkbox" name="wishList" />

      <label for="myRating">My Rating: </label>
      <input
        type="number"
        name="myRating"
        placeholder="1-10"
        min="1"
        max="10"
      />

      <label for="gamePlayNotes">Game Play Notes: </label>
      <textarea name="gamePlayNotes"></textarea>

      <input type="submit" name="submit" value="submit" />
    </form>
  </body>
</html>
